.top {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #05ffb0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;

}

h2,
p {
  text-align: center;
}


.input {
  align-items: center;
  position: relative;
  left: 210px;
}

.list li {
  display: flex;
  flex-direction: column;
  display: block;
  align-items: center;
  border: 0.5px red solid;
  background-color: pink;
  margin-top: 10px;
  margin-right: 40px;
  position: relative;
  text-align: center;
  text-align: inline-block;
  align-content: space-between;
  width: 50%;
}

.list {
  text-align: center;
  position: relative;
  left: 68px;
  zoom: 1;
}

.container {
  position: relative;
  right:12;
}



.mylist {
  position: relative;
  left: 83px;
}

.container h2,
p {
  /* position: relative;
  left:-90; */
}

.clickBtn {
  float: left
}

.removeButton {
  float: right;
}

.checked {
  text-decoration: line-through;
}

.unchecked {
  text-decoration: none;
}

/* .itmesDiv {
  z-index: 5;
  position: absolute;
  top: 20%;
  right: 40%;
  border: 1px solid red;
  background-color: pink;
  width: 40%;
} */

.itmesUl li {
  display: flex;
  flex-direction: column;
  display: block;
  align-items: center;
  border: 0.5px black solid;
  background-color: green;
  margin-top: 10px;
  margin-right: 40px;
  position: relative;
  text-align: center;
  text-align: inline-block;
  align-content: space-between;
}

.addItemInput {
  text-align: center;
  float: left;
}

.addButoon {
  position: relative;
  left: 228px;
}


#removeItmes {
  position: relative;
  right: 0;
}

.modal {

  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.hide {
  display: none;
}

/* The Close Button */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#ulId li {
  display: flex;
  flex-direction: column;
  display: block;
  align-items: center;
  border: 0.5px black solid;
  background-color: yellowgreen;
  margin-top: 10px;
  margin-right: 40px;
  position: relative;
  text-align: center;
  text-align: inline-block;
  align-content: space-between;
  width: 60%;
  left: 116px;
}

#check {
  float: left
}

.remove {
  float: right;
}

#complete {
  text-decoration: line-through blue;
}

#incomplete {
  text-decoration: none;
}
.nameOfCard{
  position: fixed;
  top: 87px;
  left: 85px;

} 